body {
    background-color: grey
}

h1 {
    background-color: rgb(21, 21, 224);
    color: black;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-block: 100px;


}

h2 {
    background-color: rgb(134, 134, 200);
    color: black;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    padding-block: 50px;



}

h3 {
    color: black;
    font-size: 20px;
    text-align: center;
}

h4 {
    color: black;
    font-size: 20px;
    text-align: center;
}

p {
    color: black;
    font-size: 30px;
    text-align: center;

}

img {
    width: 200px;
}

.pagina-dedicada {
    color: red;
}

.identidade {
    color: orangered;
}

#professores {
    color: pink;
}

#img {
    width: 50px;
}

.conteudo {
    background-color: blueviolet; border: 10px solid white; marggin-top: 100px;
    marggin-bottom: 100px;
}

.lista{
display: inline-block;
text-justify: center;
}

text-transform: {lowercase;}
